<!doctype html>
<html lang="en">
  <head>
    <title>Golang Websocket</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <style>
      .buttons {
          margin: 1em 0 1em 0;
      }
      .buttons button {
          margin: 0 .5em 0 .5em;
      }
      .messages {
          height: 25em;
          overflow-y: scroll;
      }
      ul.messages {
          padding: 0em;
          list-style: none;
      }
      .message-panel {
          box-shadow: 5px 5px 15px #777777;
      }
      footer {
          text-align: center;
          margin: 2em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Golang Websocket Demonstration</h2>
      <div class="panel panel-default">
	<div class="panel-body">
	  <p>
	  Simple demonstration of a web browser client communicating
	  with a <a href="https://golang.org">Golang</a> websocket
	  server.  The client connects using the browser's built-in
	  Websocket Javascript interface. After a successfully
	  establishing the connection, the client sends messages
	  across the link at a regular interval.  The Golang server
	  receives the messages and immediately retransmits them back.
	  Messages sent from the client to server are displayed below
	  in the left panel.  The right panel displays messages as
	  they are received from the server along with the rount-trip
	  time in seconds.
	  </p>
	  <p>Complete source available on <a href="http://github.com/inyotech/golang-ws">Github</a>.</p>
	</div>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-default" id="start-messages">Start messages</button>
        <button type="button" class="btn btn-default" id="stop-messages">Stop messages</button>
      </div>
      <div class="row">
        <div class="col-sm-6">
	  <div class="panel panel-default message-panel">
	    <div class="panel-heading">Sent Messages</div>
	    <div class="panel-body">
              <ul class="messages" id="sent-messages"></ul>
	    </div>
	  </div>
        </div>
        <div class="col-sm-6">
	  <div class="panel panel-default message-panel">
	    <div class="panel-heading">Received Messages</div>
	    <div class="panel-body">
              <ul class="messages" id="received-messages"></ul>
	    </div>
	  </div>
        </div>
      </div>
      <div class="row">
	<div class="col-sm-12">
	  Javascript in the client:
	  <pre>
	  &lt;script&gt;
	    var ws = new WebSocket("ws://golang-ws.inyotech.com/echo_service");

	    ws.onopen = function() {
		sendMessage();
	    };

	    ws.onmessage = function(event) {
		var message = JSON.parse(event.data);
		...
	    };

	    function sendMessage() {
		...
		var message = {
		    timestamp: now,
		    data: "test message"
		};
		...
		ws.send(JSON.stringify(message);
		setTimeout(sendMessage, 1000);
	    }
	  &lt;/script&gt;
	  </pre>
	</div>
      </div>
      <div class="row">
        <div class="col-sm-12">
	  Golang on the server:
	  <pre>
          package main

          import (
                  "net/http"
                  "github.com/inyotech/golang-ws/ws"
          )

          func wsHandler(ch chan *ws.Frame) {

		  defer close(ch)

		  for {
			  frame, ws_ok := <-ch
				  if !ws_ok {
					  return
				  }
				  ch<-frame
			  }
		  }
          }

          func main() {
                  ...
                  http.Handle("/echo_service", ws.WsHandlerFunc(options.wsHandler))

                  http.ListenAndServe(":80", nil)

          }
	  </pre>
	</div>
      </div>
      <footer>
	&copy; Copyright 2017 Inyo Technical Services
      </footer>
    </div>
    <script>
      var counter = 0;
      var messageSender;

      var ws = new WebSocket("{{.WsUrl}}echo_service");

      ws.onopen = function(event) {
          console.log('starting message sender');
          startMessages();
      };

      ws.onmessage = function(event) {
          var message = JSON.parse(event.data);
          var now = moment();
          var sendTime = moment(message.timestamp);
          var roundTripTime = now.diff(sendTime);
          var receivedMessages = $('#received-messages');
          receivedMessages.append('<li>'+now.format('hh:mm:ss.SSS')+' received: '+message.data+' round trip: '+roundTripTime/1000+' sec</li>');
          receivedMessages.scrollTop(receivedMessages[0].scrollHeight);
          console.log(message)
      };

      ws.onclose = function(event) {
          console.log("ws closed")
          stopMessages();
      };

      function startMessages() {

          $('#start-messages').prop('disabled', true);
          $('#stop-messages').prop('disabled', false);
          sendMessage();
      }

      function stopMessages() {
          $('#stop-messages').prop('disabled', true);
          $('#start-messages').prop('disabled', false);
          clearTimeout(messageSender);
      }

      function sendMessage() {
          var now = moment()
          var message = {
              timestamp: now,
              data: 'test message '+(++counter)
          }
          var m = JSON.stringify(message);
          ws.send(m);
          var sentMessages = $('#sent-messages');
          sentMessages.append('<li>'+now.format('hh:mm:ss.SSS')+' sent: '+message.data+'</li>');
          sentMessages.scrollTop(sentMessages[0].scrollHeight);
          console.log(message);
          messageSender = setTimeout(sendMessage, 1000);
      }

      $('#start-messages').on('click', function(b) {
          startMessages()
      });

      $('#stop-messages').on('click', function(b) {
          stopMessages();
      });


  </script>
  </body>
</html>
