<VirtualHost *:80>

    ServerName echo-server.localhost
    ServerAdmin admin@localhost

    ProxyPass / http://localhost:9000/
    ProxyPassReverse / http://localhost:9000/

    RewriteEngine on
    RewriteCond %{HTTP:UPGRADE} ^WebSocket$ [NC]
    RewriteCond %{HTTP:CONNECTION} Upgrade$ [NC]
    RewriteRule .* ws://localhost:9000%{REQUEST_URI} [P]

    ProxyPass /service/ http://localhost:9000/service/
    ProxyPassReverse /service/ http://localhost:9000/service/

    LogLevel warn

    ErrorLog    ${APACHE_LOG_DIR}/echo_server-error.log
    CustomLog   ${APACHE_LOG_DIR}/echo_server-access.log combined

</VirtualHost>
